In [30]:
from bs4 import BeautifulSoup as bs 
import os
import requests
from splinter import Browser

In [42]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

In [43]:
executable_path = {'executable_path': '../chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [33]:
url = 'https://mars.nasa.gov/news/'

In [34]:
browser.visit(url)

In [35]:
html=browser.html
soup = bs(html,"html.parser")

### REQUEST FROM URL====================================================

In [51]:
#response = requests.get(url)
#soup = bs(response.text,'lxml')

In [ ]:
#title=soup.find("div",class_="content_title").text

In [20]:
# If I request from URL 
#============================
#remove \n\n from the string 
#https://stackoverflow.com/questions/3559559/how-to-delete-a-character-from-a-string-using-python
#new_title = title.replace("\n", "")
#new_title

### ====================================================

In [36]:
#retrieve the title of the latest news 
news_title=soup.find("div",class_="content_title").text
news_title

"All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover"

In [37]:
#retrieve the paragraph text of the latest news 
news_p = soup.find("div", class_="article_teaser_body").text
news_p

'SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.'

In [38]:
print(f'news_title = {news_title}')
print(f'news_p = {news_p}')

news_title = All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover
news_p = SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.

# JPL Mars Space Images - Featured Image

In [44]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

In [45]:
html=browser.html
soup = bs(html,"html.parser")

In [74]:
#https://stackoverflow.com/questions/54098316/scrape-img-src-under-div-tag-using-beautifulsoup
img_src = soup.find("img",class_="thumb").attrs['src']
#type(img_src)
img_src

'/spaceimages/images/wallpaper/PIA23664-640x350.jpg'

## =============================================

In [77]:
#failed to retrieve large size image 
#img_src = soup.find("img",class_="fancybox-image").attrs['src']
#ERROR: 'NoneType' object is not subscriptable

###IDEAL 
###featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

'/spaceimages/images/largesize/PIA23664-640x350.jpg'

## =============================================

In [81]:
featured_image_url='https://www.jpl.nasa.gov' + img_src
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23664-640x350.jpg'

# Mars Weather

In [111]:
url3="https://twitter.com/marswxreport?lang=en"
browser.visit(url3)

In [93]:
#html=browser.html
#soup = bs(html,"html.parser")

In [112]:
xpath = "/html/body/div/div/div/div/main/div/div/div/div/div/div/div/div/div[2]/section/div/div/div/div[1]/div/article/div/div[2]/div[2]/div[2]/span"

In [113]:
#fail to find text in span by using class tag 
mars_weather = browser.find_by_xpath(xpath).text
#type(mars_weather)


print(f'mars weather = {mars_weather}')

mars weather = InSight sol 428 (2020-02-08) low -91.6ºC (-132.9ºF) high -8.7ºC (16.3ºF)
winds from the WNW at 5.9 m/s (13.3 mph) gusting to 25.4 m/s (56.9 mph)
pressure at 6.30 hPa

# Mars Facts

In [126]:
url4 = "https://space-facts.com/mars/"
browser.visit(url4)

In [121]:
html=browser.html
soup = bs(html,"html.parser")

In [122]:
soup.find("table")

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [123]:
import lxml.html as lh
import pandas as pd

## Use Pandas to convert the data to a HTML table string.

In [132]:
#classwork12-02-09
table = pd.read_html(url4)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [133]:
#type(tables)

list

In [134]:
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [139]:
df = table[0]
df.columns =["Facts","Values"]
df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [140]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [141]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemisphere

In [232]:
url5="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url5)
html=browser.html
soup = bs(html,"html.parser")

In [251]:
title1=soup.find_all("img", class_="thumb")[0].attrs['alt']
title2=soup.find_all("img", class_="thumb")[1].attrs['alt']
title3=soup.find_all("img", class_="thumb")[2].attrs['alt']
title4=soup.find_all("img", class_="thumb")[3].attrs['alt']

In [244]:
#Cerberus Hemisphere 
title_link1 = soup.find("a",class_="itemLink").attrs['href']
title_url1="https://astrogeology.usgs.gov" + title_link1
title_url1

'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'

In [255]:
print(f'title: {title1}, img_url:{title_url1}')

title: Cerberus Hemisphere Enhanced thumbnail, img_url:https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced

In [252]:
#go to the Cerberus Hemisphere  high solution img 
browser.visit(title_url1)
xpath1="/html/body/div[1]/div[1]/div[2]/div/ul/li[1]/a"
img1=browser.find_by_xpath(xpath1).click()

In [227]:
#find the rest of links
all_links = soup.find_all("a",class_="itemLink")

In [238]:
#Schiaparelli Hemisphere
raw_link2 = all_links[3]
#Schiaparelli Hemisphere
title_link2 = raw_link2.attrs['href']
title_url2 = "https://astrogeology.usgs.gov" + title_link2
title_url2

'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'

In [256]:
print(f'title: {title2}, img_url:{title_url2}')

title: Schiaparelli Hemisphere Enhanced thumbnail, img_url:https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced

In [239]:
#Schiaparelli Hemisphere img
browser.visit(title_url2)
xpath2="/html/body/div[1]/div[1]/div[2]/div/ul/li[1]/a"
img2=browser.find_by_xpath(xpath2).click()

In [240]:

#Syrtis Major Hemisphere
raw_link3 = all_links[5]
#Syrtis Major Hemisphere
title_link3 = raw_link3.attrs['href']
title_url3 = "https://astrogeology.usgs.gov" + title_link3
title_url3

'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'

In [257]:
print(f'title: {title3}, img_url:{title_url3}')

title: Syrtis Major Hemisphere Enhanced thumbnail, img_url:https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced

In [241]:
#Syrtis Major Hemisphere img
browser.visit(title_url3)
xpath3="/html/body/div[1]/div[1]/div[2]/div/ul/li[1]/a"
img3=browser.find_by_xpath(xpath3).click()

In [242]:
#Valles Marineris Hemisphere 
raw_link4 = all_links[7]
#Valles Marineris Hemisphere 
title_link4 = raw_link4.attrs['href']
title_url4 = "https://astrogeology.usgs.gov" + title_link4
title_url4

'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'

In [258]:
print(f'title: {title4}, img_url:{title_url4}')

title: Valles Marineris Hemisphere Enhanced thumbnail, img_url:https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [243]:
#Valles Marineris Hemisphere 
browser.visit(title_url4)
xpath4="/html/body/div[1]/div[1]/div[2]/div/ul/li[1]/a"
img4=browser.find_by_xpath(xpath4).click()

## four dictionaries contains hemisphere names and urls

In [265]:
dic1={"title":title1,"img_url":title_url1}
dic1

{'title': 'Cerberus Hemisphere Enhanced thumbnail',
 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'}

In [266]:
dic2={"title":title2,"img_url":title_url2}
dic3={"title":title3,"img_url":title_url3}
dic4={"title":title4,"img_url":title_url4}

In [268]:
hemisphere_list=[dic1,dic2,dic3,dic4]

In [269]:
hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced thumbnail',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced thumbnail',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced thumbnail',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced thumbnail',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]

# MongoDB and Flask Application